.cover {
    width: 100%;
    max-width: 1184px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../images/cover/background.png");
    display: grid;
}
.cover::after {
    display: block;
    content: '';
    grid-row: 1;
    grid-column: 1;
    padding-bottom: calc(100%/1.6);
}